<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redireccion de sitio simfcoh a grupocoh" enabled="false" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Redirect" url="http://grupocohonducafe.hn{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
